body {
display: flex;
flex-direction: column;
align-items: center;
}

#gameboard {
    /* border: solid 2px black; */
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

#gameboard > * {
    font-size: 5rem;
    text-align: center;
}

#square-0, #square-3 {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

#square-1, #square-4 {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

#square-2, #square-5 {
    border-bottom: solid 2px black;
}

#square-6, #square-7 {
    border-right: solid 2px black;
}

.input {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
}